[Unit]
Description=Airflow Webserver Service

[Service]
EnvironmentFile=/etc/airflow/environment
User=airflow
Group=airflow
ExecStart=/usr/bin/terraform-aws-airflow
Restart=always
RestartSec=5s
KillMode=mixed
TimeoutStopSec=24h

Environment=AWS_DEFAULT_REGION=${AWS_REGION}
Environment=AIRFLOW_HOME=/etc/airflow
Environment=AIRFLOW__CORE__EXECUTOR=CeleryExecutor
Environment=AIRFLOW__CORE__FERNET_KEY=${FERNET_KEY}
Environment=AIRFLOW__CORE__LOAD_EXAMPLES=${LOAD_EXAMPLE_DAGS}
Environment=TURBINE__CORE__LOAD_DEFAULTS=${LOAD_DEFAULT_CONNS}
Environment=AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_ENDPOINT}/${DB_DBNAME}
Environment=AIRFLOW__CORE__REMOTE_BASE_LOG_FOLDER=s3://${S3_BUCKET}
Environment=AIRFLOW__CORE__REMOTE_LOGGING=True
Environment=AIRFLOW__WEBSERVER__WEB_SERVER_PORT=${WEBSERVER_PORT}
Environment=AIRFLOW__CELERY__BROKER_URL=sqs://
Environment=AIRFLOW__CELERY__DEFAULT_QUEUE=${QUEUE_NAME}
Environment=AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_ENDPOINT}/${DB_DBNAME}
Environment=AIRFLOW__CELERY__WORKER_CONCURRENCY=16
Environment=AIRFLOW__CELERY_BROKER_TRANSPORT_OPTIONS__REGION=${AWS_REGION}


[Install]
WantedBy=multi-user.target
