[Unit]
Description=Airflow Webserver Service

[Service]
EnvironmentFile=/etc/sysconfig/airflow
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/terraform-aws-airflow
Restart=always
RestartSec=5s
KillMode=mixed
TimeoutStopSec=24h
[Install]
WantedBy=multi-user.target
